@font-face {
    font-family: 'Signika';
    font-style: normal;
    font-weight: 400;
    src: local('Signika'), local('Signika-Regular'),
    url('fonts/Signika.woff') format('woff'),
    url('fonts/Signika.ttf') format('truetype');
}

body {
    font-family: Signika, sans-serif;
    margin-bottom: 5rem;
}

.header {
    text-transform: uppercase;
    padding: 1rem;
    text-align: center;
}

.footer {
    position: fixed;
    line-height: 3rem;
    bottom: 0;
    width: 100%;
    margin: 0;
    padding-bottom: 1rem;
    padding-top: 1rem;
    padding-left: 1rem;
    border-radius: 0;
}

.inline-input {
    display: inline;
}

.canvas-col {
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 1rem 3rem;
}

.alert-imgur-link {
    justify-self: flex-start;
    margin-bottom: 0;
    margin-right: auto;
    opacity: 0;
    transition: opacity 0.25s ease-in-out;
}

.flex-align-undercanvas {
    display: -webkit-flex;
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
    width: 100%;
    align-items: center;
}

.img-logo {
    width: 4rem;
}

input {
    display: block;
    margin-bottom: 2%;
}

canvas {
    width: 100% !important;
}

#headline-input {
    border: none;
    background-color: #DEDEDEBB;
    padding: 0.25rem 1rem;
}

#newsline-input {
    border: none;
    background-color: #FEEB1Add;
    padding: 0.25rem 1rem;
}
