@font-face {
    font-family: 'Signika';
    font-style: normal;
    font-weight: 400;
    src: local('Signika'), local('Signika-Regular'),
    url('fonts/Signika.woff') format('woff'),
    url('fonts/Signika.ttf') format('truetype');
}

body {
    font-family: Signika, sans-serif;
}

.header {
    text-transform: uppercase;
    padding: 1rem;
    text-align: center;
}

.footer {
    position: fixed;
    height: 5rem;
    bottom: 0;
    width: 100%;
    margin: 0;
}

.inline-input {
    display: inline;
}

.canvas-col {
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.alert-imgur-link {
    justify-self: flex-start;
    margin-bottom: 0;
    margin-right: auto;
    opacity: 0;
    transition: opacity 0.25s ease-in-out;
}

.flex-align-undercanvas {
    display: -webkit-flex;
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
    width: 100%;
    align-items: center;
}

input {
    display: block;
    margin-bottom: 2%;
}

canvas {
    width: 100% !important;
}
