<html>
<head>
    <meta charset="utf-8">
    <title>News Breaker</title>

    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/index.css">
    <script src="js/jquery.js"></script>
    <script src="js/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/filesaver.js"></script>
    <script src="js/index.js"></script>
</head>
<body>
<h1 class="header">News Breaker</h1>
<div class="container pt-5">
    <div class="row">
        <div class="col-4">
            <div>
                <input class="inline-input" id="headlineInput" type="text" placeholder="Headline">
            </div>
            <div>
                <input class="inline-input" id="label" type="text" placeholder="Main plot">
            </div>
            <div>
                <input class="inline-input" id="img-src" type="file">
            </div>
        </div>
        <div class="col-8 canvas-col">
            <canvas id="canvas" width="1280" height="720"></canvas>
            <div class="flex-align-undercanvas">
                <div id="imgur-link" class="alert alert-success alert-imgur-link">Imgur link here</div>
                <div class="btn-group">
                    <button id="imgur-btn" type="button" class="btn btn-outline-success">Upload on Imgur</button>
                    <button id="download-btn" type="button" class="btn btn-outline-dark">Download</button>
                </div>
            </div>
            <div style="display: none">
                <img id="img"
                     src="static/default_img.jpg"
                crossorigin="anonymous">
            </div>
        </div>
    </div>
</div><!--
<div class="jumbotron footer">
    2018, Kniazev S.V.
</div>-->
<script>
  window.addEventListener('load', init);
</script>
</body>
</html>
